<p>
  <label>Student Name:</label><br>
  <%= text_field_tag :name %>
</p>
<p>
  <label>Student Hometown:</label><br>
  <%= text_field_tag :hometown %>
</p>
<p>
  <label>Student birthday:</label><br>
  <%= date_field_tag :birthday %>
</p>
  <%= f.submit %>
